<footer class="container-fluide">
    <div class="text-center">
        <div class="col-md-4">
            <h3>Partenaires</h3>
            <ul class="list-unstyled ul-foot">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Constructeurs</h3>
            <ul class="list-unstyled ul-foot">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Circuits</h3>
            <ul class="list-unstyled ul-foot">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 1</a></li>
            </ul>
        </div>
    </div>
    <div class="foot text-center">
        <p>
            © 2005-2011 JOHN DOE ALL RIGHTS RESERVED
        </p>
    </div>
</footer>
