{% extends "base.html" %}
{% block title %}Création de compte{% endblock %}
{% block content %}
<div class="container registration">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="form-signin-heading">
                <form role="form" action="{{ request.path }}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                      <h1>Inscription</h1>
                  </div>
                    <div class="form-group">
                      <p>{{form.username.label}}</p>
                      {{form.username}}
                    </div>
                    <div class="form-group">
                      <p>{{form.password1.label}}</p>
                      {{form.password1}}
                    </div>
                    <div class="form-group">
                      <p>{{form.password2.label}}</p>
                      {{form.password2}}
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Valider</button>
                    <br>
                    <p class="text-center"><a href="{% url 'auth_login' %}">Déjà inscrit ?</a></p>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function reloadForm() {
    $('input').addClass('form-control');
    $('select').addClass('form-control');
})
</script>

{% endblock %}
