{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block content %}
<div class="container first-container">
    <div class="main">
        <div class="row">
            <div class="col-md-3">
                <p>{% trans "Your current avatar: " %}</p>
                {% avatar user %}
                {% if not avatars %}
                <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
                {% else %}
            </div>
            <div class="col-md-3">
                <form method="POST" action="{% url 'avatar_change' %}">
                    <ul class="list-unstyled">
                        {{ primary_avatar_form.as_ul }}
                    </ul>
                    <p>{% csrf_token %}<input type="submit" value="{% trans "Choose new Default" %}" /></p>
                </form>
                {% endif %}

            </div>
            <div class="col-md-6">
                <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
                    {{ upload_avatar_form.as_p }}
                    <p>{% csrf_token %}<input type="submit" value="{% trans "Upload New Image" %}" /></p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
