{% extends "base.html" %} {% load staticfiles %} {% block content %}

<section class="container first-container">
    <div class="main main-create-comment">
        <div class="row">
            <div class="col-md-12">
                    <h2>Tout les commentaires</h2>
                    <ul class="list-unstyled">
                        <div class="row">
                        {% for comment in comments %}
                            <li class="comment col-md-6">
                                <div class="row div-comment">
                                    <div class="col-md-6">
                                        De : {{ comment.author }}
                                    </div>
                                    <div class="col-md-offset-1 col-md-5">
                                        Le {{comment.creation_date}}
                                    </div>
                                    <p class="col-md-12">
                                        {{comment}}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </div>
                    </ul>
                {% if user.is_authenticated %}
                <div class="creation-comment">
                    <p>
                        Votre commentaire :
                    </p>
                    <form class="form-comment text-center" action="{{request.path}}" method="POST">
                        {% csrf_token %} {{form.author}} {{form.body}} {{form.article}}
                        <button class="btn btn-secondary commit" type="submit">Envoyer</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
