{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="zone-comment">
                <h2>Tout les commentaires</h2>
                <ul class="list-unstyled">
                    {% for comment,form in object_list.items %}
                    <li class="comment">
                        <div class="row">
                            <div class="col-md-11">
                                {{comment.body}}
                            </div>
                            <div class="col-md-1">

                                <form method="post" action="{% url 'my_form_view_url' %}">
                                    {% csrf_token %}
                                    {{form.author}}
                                    {{form.comment}}
                                    {{form.is_like}}
                                    <button type="submit" class="btn btn-primary"> J'aime</button>
                                    <!-- <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> -->

                                </form>


                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="creation-comment">
                <p>
                    Votre commentaire :
                </p>
                <form class="form-comment text-center" action="{{request.path}}" method="POST">
                    {% csrf_token %} {{form.author}} {{form.body}} {{form.article}}
                    <button class="btn btn-secondary commit" type="submit">Envoyer</button>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}
