{% extends "base2.html" %}
{% load staticfiles %}
{% block content %}

<section class="container first-container">
    <div class="main main-dashboard">

        <div class="row">
            <div class="col-md-4">
                <a href="{% url 'create_article' %}">+ Nouvel Article</a>
            </div>
        </div>
        <div class="row">
            <section class="col-md-6">
                <h2 class="text-center">Article publiés</h2>
                <ul class="list-unstyled">
                    {% for article in articles_on %}
                    <li class="espace-article">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{% url 'detail_article' article.slug %}">
                                    <img class="img-responsive" src="/media/{{article.image}}" alt="image article" />
                                </a>
                            </div>
                            <div class="col-md-3">
                                <h3>{{article.title}}</h3>
                            </div>
                            <div class="col-md-4">
                                <a class="lien-block" href="{% url 'update_article' article.slug %}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modification
                                </a>
                                <a class="lien-block" href="{% url 'delete_article' article.slug %}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supression
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
            <section class="col-md-6">
                <h2 class="text-center">Article non publié</h2>
                <ul class="list-unstyled">
                    {% for article in articles_off %}
                    <li class="espace-article">
                        <div class="row">
                            <div class="col-md-4">
                                <a href="{% url 'detail_article' article.slug %}">
                                    <img class="img-responsive" src="/media/{{article.image}}" alt="image article" />
                                </a>
                            </div>
                            <div class="col-md-3">
                                <h3>{{article.title}}</h3>
                            </div>
                            <div class="col-md-4">
                                <a class="lien-block" href="{% url 'update_article' article.slug %}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modification
                                </a>
                                <a class="lien-block" href="{% url 'delete_article' article.slug %}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i> Supression
                                </a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</section>

{% endblock %}
