{% extends "base2.html" %}
{% block content %}
<div class="container first-container">
    <div class="main delete-article">
        <h1 class="text-center">Supprimer cet article?</h1>
        <form class="text-center" action="{{ request.path }}" method="POST">
            {% csrf_token %} {{ form.errors }}
            <button class="btn btn-danger" type="submit">Supprimer</button>
            <a class="btn btn-default" href="{% url 'backoffice' %}">Annuler</a>
        </form>
    </div>
</div>
{% endblock %}
