{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="container first-container">
    <div class="main main-detail-article">
        <h1 class="text-center">Essaie du {{article.title}}</h1>
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive" src="/media/{{article.image}}" alt="image article" />
            </div>
            <div class="col-md-offset-1 col-md-4 text-article">
                <p>
                    {{article.body}}
                </p>
                <div class="row info">
                    <div class="col-md-6">
                        Créé le {{article.creation_date}}
                    </div>
                    <div class="col-md-6">
                        Commentaires({{nb_comment}})
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-offset-2 col-md-8">
                <div class="zone-comment">
                    <h2 class="text-center">Derniers commentaires</h2>
                    <ul class="list-unstyled">
                        {% for comment in last_comments %}
                        <li class="comment">
                            <div class="row">
                                <div class="col-md-6">
                                    De : {{ comment.author }}
                                </div>
                                <div class="col-md-offset-3 col-md-3">
                                    Le {{comment.creation_date}}
                                </div>
                                <p>
                                    {{comment}}
                                </p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="{% url 'create_comment' article.id %}">Tout les commentaires</a>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="last-articles">
                    <h3>Derniers articles :</h3>
                    <div class="three-time">
                        {% for article in last_article %}
                        <a href={% url 'detail_article' article.slug %}>
                            <img class="img-responssive" src="/media/{{article.image}}" alt="article">
                        </a>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
