{% extends "base.html" %} {% load staticfiles %} {% block content %}

<div class="container-fluide">
    <img class="img-responsive" src="/static/img/img-home.png" alt="quad" />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for article in articles %}
            <div class="article-home">

                <h3>{{ article.title }}</h3>
                <p>
                    Créé le {{article.creation_date}}
                </p>
                <a href="article/{{article.slug}}"><img class="img-responsive" src="/media/{{article.image}}" alt="image blog" /></a>

            </div>
            {% endfor %}
        </div>
        <div class="col-md-4 nav-vertical">
            <h2>Derniers articles :</h2>
            <div class="one-time">

                {% for article in articles %}
                <img class="img-responssive" src="/media/{{article.image}}" alt="">
                {% endfor %}
            </div>
            <h2>Articles les plus populaire :</h2>
            <div class="one-time">

                {% for article in popular_article %}
                <img class="img-responssive" src="/media/{{article.image}}" alt="">
                {% endfor %}
            </div>
            <h2>Partenaires :</h2>

        </div>
    </div>
</div>

{% endblock %}
