{% extends "base.html" %}
{% block title %}Création de compte{% endblock %}
{% block content %}
{% load avatar_tags %}
<div class="container registration first-container">
    <div class="main">

        <div class="row user-detail">
            <div class="col-md-12">
                <h1 class="text-center">Mon Compte</h1>
                <div class="row info-compte">
                    <div class="col-md-6 text-center">
                        <div class="row">
                            <div class="col-md-6">
                                {% avatar user %}

                            </div>
                            <div class="col-md-6">
                                <ul class="list-unstyled">
                                    <li>Email : {{user.email}}</li>
                                    <li>Pseudo : {{user.username}}</li>
                                    <li>Prénom : {{user.first_name}}</li>
                                    <li>Nom : {{user.last_name}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <ul class="list-unstyled">
                            <li><a href="{%url 'user_update' user.id %}">Modifier mes informations</a></li>
                            <li><a href="{% url 'avatar_change' %}">Changer son avatar</a></li>
                            <li><a href="{%url 'auth_password_change' %}">Changer mot de passe</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row info-comments">
                    <div class="col-md-4">
                        <h2 class="text-center">Mes commentaires</h2>
                        {%for comment in mycomments%}
                        <p class="text-center">
                            {{comment}}
                        </p>

                        {%endfor%}
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">Mes commentaires liké</h2>
                        {%for comment in mycommentslike%}
                        <p class="text-center">
                            {{comment}}
                        </p>
                        <p class="text-center">

                            <!-- {{othercommentslike}} -->
                        </p>

                        {%endfor%}
                    </div>
                    <div class="col-md-4">
                        <h2 class="text-center">Commentaires que j'ai liké</h2>
                        {%for comment in othercommentslike%}
                        <p>
                            {{comment}}
                        </p>

                        {%endfor%}
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
